<div class="row">
    <div class="col-xs-12">
        <select class="form-control" [(ngModel)]="selectedRepo" (ngModelChange)="navigateToLanguage($event)">
            <option [value]="test">Select Language</option>
            <option *ngFor="let repo of repos" [ngValue]="repo">
                {{ repo.languageDisplayName }}
            </option>
        </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-4" *ngFor="let repo of paginatedRepos">
        <div class="panel panel-success text-center" (click)="navigateToLanguage(repo)">
            <div class="panel-heading">
                <h3 class="panel-title">{{repo.languageDisplayName}}</h3>
            </div>
            <div class="panel-body">
                <img class="logo" src={{repo.image}}/>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-xs-offset-3 text-center">
    <pagination [items]="repos" [page-size]="pageSize" (page-changed)="onPageChanged($event)"></pagination>
</div>
