<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" (click)="onToggleClick()">
                <i class="fa" [ngClass]="{'fa-arrow-right': defaultToggle, 'fa-arrow-left': !defaultToggle}"></i></a>
            <a class="navbar-brand" [routerLink]="['AllLanguages']" (click)="defaultToggle=true">Awesome Library</a>
        </div>
    </div>
</nav>
<side-navbar [navBarToggle]="defaultToggle"
             [repos]="repos"
             (toggleNavBar)="myToggleNavBarChanges($event)"></side-navbar>

